<html>
	<head>
		<title> Login </title>
	</head>
	
	<body>
		<form action='/login' method='post'>
			<lable for='username'>Enter @username : </lable>
			<input name='username' id='username'>
			<br>
			<button>login</button>
		</form>
		<br>
		<a href="/register">Regiter for new account</a>
	</body>
</html>
